name: Reusable Workflow

# This is required to make it reusable
on:
  workflow_call:
    inputs:
      node:
        required: true
        type: number

jobs:
  reusable-job:
    runs-on: ubuntu-latest

    steps:
      - name: Output the input value
        run: echo "Node version is ${{ inputs.node }}"
